.container-fluid .row{
    display: flex;
    justify-content: flex-start;
}

footer{
    background-color: #404647;
    color: #e1e1e1;
    padding-top: 20px;
    align-self: flex-end;
    border-top: 1px solid #e1e1e1;
    font-size: 0.9em;
}

footer a{
    color: #e1e1e1;
    font-size: 0.8em;
}

