
.hero {
    height: 80vh;
    background-image: url(./index-img.jpeg);
    background-position-y: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    -webkit-filter: contrast(200%);
    filter: contrast(100%);
}
.hero h1 {
    position: absolute;
    color: #fff;
    font-size: 7em; 
    font-weight: 700;
    width: 300px;
    padding-top: 100px;
    padding-left: 200px;
}
.front-card {
    background-color: red;
}
.explore {
    height: 500px;
}
.explore-link {
    color: white;
    text-transform: uppercase;
}

