
.hero {
    height: 80vh;
    background-image: url(./index-img.jpeg);
    background-position-y: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    -webkit-filter: contrast(200%);
    filter: contrast(100%);
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;

}
.hero h1 {
    position: absolute;
    color: #fff;
    font-size: 7em; 
    font-weight: 700;
    width: 300px;
    padding-top: 100px;
    padding-left: 200px;
}
.front-card {
    background-color: red;
}
.card-container h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 8%;
}
.explore {
    height: 500px;
    display: flex;
    justify-content: center;
}
.explore-link {
    color: white;
    text-transform: uppercase;
    margin-top: 20%;
    font-size: 3.5em;
    border: 1px solid #fff;
    padding: 10px 20px;
}
.card-size-front {
    height: 110%;
    width: 100%;
}
.card-container {
    margin-top: 8%;
    padding-bottom: 8%;
    border-bottom: 1px solid #fff;

}

