.nav-link {
    padding: 0;
}
.nav-bar {
    height: 78px;
    background-color: #293133;
    background-image: linear-gradient(15deg, #293133 0%, #5e6161 100%);
    border-bottom: 1px solid #fff;


}
.nav-logo {
    margin-left: 10px;
}

